.bioText {
    font-size: large;
    display: flex;
}

.description {
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
}

.useCases {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

.useCases li {
    margin: 5px 10px;
}

.techTitle {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.technologies {
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-wrap: wrap;
}

.technologies li {
    margin: 5px 10px;
}

.technologies li * {
    color: white;
    font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
        "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
        "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

/* Mobile */
@media (max-width: 700px) {
    .bioText {
        font-size: large;
        display: flex;
        flex-direction: column;
    }
}
